/* Variables */
:root {
	--primary_colour: #E63946;
	--secondary_colour: #F1FAEE;
	--tertiary_colour: #A8DADC;
	--quaternary_colour: #457B9D;
	--quinary_colour: #1D3557;
	--primay_colour_rgb: 230, 57, 70;
	--tertiary_colour_rgb: 168, 218, 220;
	--quaternary_colour_rgb: 69, 123, 157;
	--quinary_colour_rgb: 29, 53, 87;	
}

@media screen and (max-width: 640px) {

	/* all elements using flex, wrap and in rows */
	.top_nav_bar,
	.page_sections,
	#about_me_details,
	#con_link_section
	 {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}

	/* the navigation bar and define flex properites*/
	.top_nav_bar {
		align-items: center;
		justify-content: flex-start;
		min-height: 100px;
		background-color: var(--quinary_colour);
		color: var(--secondary_colour);
	}

	/* pull my name out seperately from the other elements in the nav bar */
	#name {
		font-weight: bolder;
		font-size: 50px;
	}

	/* colour and size page navigation links */
	.nav_links {
		margin-right: 5%;
		color: var(--primary_colour);
		font-weight: bolder;
		font-size: 35px;
		text-decoration: none;
	}

	/* common properies for all elements with background images */
	.hero_banner,
	#css_cheatsheet,
	#furniture_store,
	#jakes_eatery,
	#week1_challenge,
	#landing_page,
	#study_guide {
		background-repeat: no-repeat;
		background-size: cover;
	}

	/* background for the typing animation */
	.hero_banner {
		height: 36px;
		position: relative;
		background-color: var(--quaternary_colour);
	}

	#hero_div {
		width: 100%;
	}

	/* all things text and typing animation related in hero banner */
	#hero_title {
		color: var(--secondary_colour);
		font-family: 'courier new';
		font-size: 15x;
		overflow: hidden;
		white-space: nowrap;
		border-right: 10px solid var(--secondary_colour);
		text0a
		/* position: relative;
		top: 14%; */
		animation: typing 5s steps(20, end) forwards infinite, blink .6s infinite;
		width: 0;
	}

	/* typing animation */
	@keyframes typing {
		0% {width: 0}
		80% {width: 79%}
		100% {width: 79%}
	}

	/* cursor animation for typing */
	@keyframes blink {
		from { border-color: transparent }
		to { border-color:  var(--secondary_colour); }
	}

	/* page section postioning */
	.page_sections {
		margin: 5% 2% 1% 2%;
		justify-content: center;
		align-items: center;
	}

	/* position, size and colour the section headers on the page */
	.section_header {
		width: 200px;
		border-bottom: 3px solid var(--quinary_colour);
		color: var(--quinary_colour);
		font-weight: bolder;
		font-size: 20px;
		padding: 5px;
		background-image: linear-gradient(360deg,
							rgba(var(--primay_colour_rgb), 1) 0%,
							rgba(var(--primay_colour_rgb), 0.0) 100%
		);
		text-shadow: 2px 2px 4px var(--secondary_colour);
		text-align: center;
		margin-bottom: 3%;
	}

	/* size and poistion the section detail elements */
	.section_details {
		margin: 1% 1% 1% 1%;
		width: 90%;
		font-weight: bolder;
	}

	/* setup the about section detail as a flex box for image and text inline */
	#about_me_details {
		justify-content: flex-start;
		align-items: center;
	}

	/* set image as a circle and size and position */
	#profile_image {
		border-radius: 100%;
		width: 250px;
		margin: 0 20px 0 10px;
	}

	/* position and size the about me paragraph text */
	#about_me_details p {
		width: 90%;
		align-self: center;
	}

	/* setup a CSS grid for the portfolio cards */
	.work_cards {
		display: grid;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
		grid-template-columns: 1fr;
		grid-template-areas:
			"css_cheatsheet"
			"css_cheatsheet"
			"furniture_store"
			"jakes_eatery"
			"week1_challenge"
			"landing_page"
			"study_guide"
		;
		grid-gap: 50px;
		height: 1250px;
	}

	/* setup the grid for the each individual work card and decorate */
	.indi_cards {
		cursor: pointer;
		display: grid;
		align-content: end;
		border-radius: 20px;
		text-decoration: none;
		box-shadow: inset 0px 0px 0px 
			var(--quinary_colour), 0 0 30px 
			var(--quinary_colour);
	}

	/* setup the text boxes for each card */
	.card_text {
		background-color: rgba(var(--quaternary_colour_rgb),0.9);
		padding: 15px;
		height: 85px;
		color: white;
		font-size: 18px;
		border-radius: 19px;
	}

	/* size the description for the pieces of work */
	.card_text p {
		font-size: 14px;
	}

	/* set position for background image for portfolio cards */
	#css_cheatsheet,
	#furniture_store,
	#jakes_eatery,
	#week1_challenge,
	#landing_page,
	#study_guide {
		background-position: top;
	}

	/* define grid area and background image for portfolio card */
	#css_cheatsheet {
		grid-area: css_cheatsheet;
		background-image: url("../images/css_cheatsheet.png");
	}

	/* define grid area and background image for portfolio card */
	#jakes_eatery {
		grid-area: jakes_eatery;
		background-image: url("../images/jakes_eatery.png");
	}

	/* define grid area and background image for portfolio card */
	#furniture_store {
		grid-area: furniture_store;
		background-image: url("../images/furniture_store.png");
	}

	/* define grid area and background image for portfolio card */
	#week1_challenge {
		grid-area: week1_challenge;
		background-image: url("../images/week1_challenge.png");
	}

	/* define grid area and background image for portfolio card */
	#landing_page {
		grid-area: landing_page;
		background-image: url("../images/landing_page.png");
	}

	/* define grid area and background image for portfolio card */
	#study_guide {
		grid-area: study_guide;
		background-image: url("../images/prework_study_guide.png");
	}

	/* change the background image to denote you are hovering over it */
	#css_cheatsheet:hover,
	#jakes_eatery:hover,
	#furniture_store:hover,
	#week1_challenge:hover,
	#landing_page:hover,
	#study_guide:hover {
		background-color: var(--quaternary_colour);
		background-blend-mode: exclusion;
	}

	/* animate the portfolio text box growing vertically when hovered over*/
	.card_text:hover,
	#css_cheatsheet:hover .card_text,
	#jakes_eatery:hover .card_text,
	#furniture_store:hover .card_text,
	#week1_challenge:hover .card_text,
	#landing_page:hover .card_text,
	#study_guide:hover .card_text {
		height: 175%;
		height: 125px;
		transition: all 0.5s ease-in-out;
		overflow-y: hidden;
	}

	/* set the contact links elements to be a flexbox */
	#con_link_section {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		align-items: center;
	}

	/* set a sub flexbox for the image and name of each contact type and decorate */
	.contact_links {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
		text-decoration: none;
		color: var(--primary_colour);
		font-weight: bolder;
		font-size: large;
		justify-content: center;
	}

	#copyright {
		text-align: center;
		font-size: 20px;
		font-weight: bolder;
		margin-top: 2%;
	}

}